<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<div class="topnav">
  <a [routerLink]="['/login']">Logout <i class="fa fa-user"> </i></a>
  <label class="small float-right p-3" style="color: aliceblue;cursor: pointer;"> Welcome {{user.name}}</label>
</div>


<div class="container h-100 my-5">
  <div class="d-flex justify-content-center h-100">
    <div class="searchbar">
      <input class="search_input" type="text" name="search" placeholder="Search..." [value]="search" [(ngModel)] = "search" id="search">
      <a (click)="getData(search)" class="search_icon"><i class="fas fa-search"></i></a>
    </div>
  </div>
</div>


<div class="row">
<div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let profile of searchList">
  <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
      <div class="mainflip">
          <div class="frontside">
              <div class="card">
                  <div class="card-body text-center">
                      <p><img class=" img-fluid" [src]="profile.avatar_url" alt="card image"></p>
                      <h4 class="card-title">{{profile.login}}</h4>
                      <p class="card-text">This is basic card with image on top, title, description and button.</p>
                      <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                  </div>
              </div>
          </div>
          <div class="backside">
              <div class="card">
                  <div class="card-body text-center mt-4">
                      <h4 class="card-title">{{profile.login}}</h4>
                      <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                      <ul class="list-inline">
                          <li class="list-inline-item">
                              <a class="social-icon text-xs-center" target="_blank" href="#">
                                  <i class="fa fa-facebook"></i>
                              </a>
                          </li>
                          <li class="list-inline-item">
                              <a class="social-icon text-xs-center" target="_blank" href="#">
                                  <i class="fa fa-twitter"></i>
                              </a>
                          </li>
                          <li class="list-inline-item">
                              <a class="social-icon text-xs-center" target="_blank" href="#">
                                  <i class="fa fa-skype"></i>
                              </a>
                          </li>
                          <li class="list-inline-item">
                              <a class="social-icon text-xs-center" target="_blank" href="#">
                                  <i class="fa fa-google"></i>
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
</div>