<div class="limiter">
  <div class="container-login100">
    
    <div class="row">
     <a class="blinking" routerLink="/takeexam"><h4> Take Exam </h4></a>
    </div>
    <div class="wrap-login100">
      
      <div class="login100-pic js-tilt" data-tilt>
        <!-- <img src="https://colorlib.com/etc/lf/Login_v1/images/img-01.png" alt="IMG"> -->
        <img src="../../assets/img-01.png" alt="Click here">
      </div>
      
      <form class="login100-form validate-form" #loginForm="ngForm">
        <span class="login100-form-title">
          Member Login
        </span>

        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
          <input class="input100 " type="text" name="email" placeholder="Email"  pattern="[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\.)+[A-Za-z]{2,4}$" #emailid = "ngModel" ngModel>

          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </span>
          <div  class="text-center form-group">
            <P *ngIf="emailid.invalid && emailid.touched"  style="color: red">Invalid email ID </P>
          </div>
        </div>



        <div class="wrap-input100 validate-input" data-validate="Password is required">
          <input class="input100" type="password" name="password" placeholder="Password" ngModel>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </span>
        </div>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn" (click)="loginUser(loginForm)">
            Login
          </button>
        </div>

        <div class="text-center p-t-12">
          <span class="txt1">
            Forgot
          </span>
          <a class="txt2" href="#">
            Username / Password?
          </a>
        </div>

        <div class="text-center p-t-136">
          <a class="txt2" href="#">
            Create your Account
            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>