

  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }


/*  header*/ 

// #mySidenav a {
//     position: absolute;
//     left: -80px;
//     transition: 0.3s;
//     padding: 15px;
//     width: 100px;
//     text-decoration: none;
//     font-size: 20px;
//     color: white;
//     border-radius: 0 5px 5px 0;
//   }
  
//   #mySidenav a:hover {
//     left: 0;
//   }
  
//   #about {
//     top: 20px;
//     background-color: #4CAF50;
//   }
  
//   #blog {
//     top: 80px;
//     background-color: #2196F3;
//   }
  
//   #projects {
//     top: 140px;
//     background-color: #f44336;
//   }
  
//   #contact {
//     top: 200px;
//     background-color: #555
//   }



body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #69979e;
  }
  
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #username {
    color: none !important;
  }
  .topnav a:hover {
    background-color:#4CAF50;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

/* /header */

  
