 <router-outlet></router-outlet>
<!-- <div class="sidebar">
    <a class="active" [routerLink]="['/profile']">profiles<i class="fa fa-user float-right"></i></a>
</div> -->

<!-- <div class="topnav ">
    
</div> -->

<!-- <div class="topnav">
    <a [routerLink]="['/login']">Logout <i class="fa fa-user"> </i></a>
    <label class="small float-right p-3" style="color: aliceblue;cursor: pointer;"> Welcome {{user.name}}</label>
</div>


<div fxLayout="row" fxFlex="100">
    <div class="sidebar">
        <a class="active" [routerLink]="['/profile']">profiles<i class="fa fa-user float-right"></i></a>
    </div>

    <div class="content" fxLayout="column" fxFlex>
        <router-outlet></router-outlet>
    </div>
</div> -->

<!-- <app-footer fxLayout="column"></app-footer> -->