.form-group {
    position: relative;
    margin-bottom: 1.5rem;
  }
  
  .form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 7px 0 0 13px;
    transition: all 200ms;
    opacity: 0.5;
  }
  
  .form-control:focus + .form-control-placeholder,
  .form-control:valid + .form-control-placeholder {
    font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
  }
  
  .form-control {
    line-height: 100% !important;
    padding: 15px 0px 6px 5px !important;
    font-weight: 400 !important;
    font-family: 'Lato-Regular' !important;
    color: black !important;
    font-size: 20px !important;
    border: 0 !important;
}

.form-input {
    border-bottom: 1px solid black !important;
    border-radius: 0;
    outline: 0;
}

// .form-control:focus {
  
//   border: 0px !important;
//   border-color: white;
//  // box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
// } 

.remove{
  content:"\e014";
}
.error{
  color: red !important;
  border-bottom-color: red !important;
}