<div class="container">
  <div class="card mx-auto col-8 mt-5">
    <div class="card-body">
      <h6 class="text-center">Register</h6>

      <form #registerForm="ngForm" autocomplete="off" (ngSubmit)="onSubmit(registerForm)">
      <div class="col-md-12 pt-4 ">
        <div class="row">
          <div class="form-group col-sm-6">
            <input type="text" id="firstname" name="firstname" [ngClass]="firstName.touched && firstName.invalid? 'error':''"
              class="form-control form-input " required ngModel #firstName="ngModel">
            <label class="form-control-placeholder" for="firstname">First Name</label>
            <span *ngIf="firstName.touched && firstName.invalid" class="small" style="color: red">Mandatory </span>
          </div>
        
          <div class="form-group col-sm-6 mb-4">
            <input type="text" id="lastname" name="lastname" [ngClass]="lastName.touched && lastName.invalid? 'error':''" class="form-control form-input"
              required ngModel #lastName="ngModel">
            <label class="form-control-placeholder" for="lastname">Last Name</label>
            <p *ngIf="lastName.touched && lastName.invalid" class="small" style="color: red">Mandatory </p>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-6">
            <input type="tel" id="mobile" name="mobile" maxlength="10"  minlength="10"  [ngClass]="mobile.touched && mobile.invalid? 'error':''" class="form-control form-input "
              required ngModel #mobile="ngModel">
            <label class="form-control-placeholder" for="mobile">Contact Number</label>
            <p *ngIf="mobile.touched && mobile.errors?.invalid" class="small" style="color: red">Mandatory </p>
            <p *ngIf="mobile.touched && mobile.errors?.minlength" class="small" style="color: red">Invalid</p>
          </div>
        
          <div class="form-group col-sm-6">
            <input type="text" id="email" name="email" class="form-control form-input" required ngModel #email="ngModel">
            <label class="form-control-placeholder" for="email">Email Address</label>
            <p *ngIf="email.touched && email.invalid" class="small" style="color: red">Mandatory </p>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-6">            
            <select type="text" id="designation" name="designation"  [ngClass]="designation.touched && designation.invalid? 'error':''" class="form-control form-input " required ngModel #designation="ngModel">
              <option disabled></option>
              <option>software engineer</option>
              <option>Test engineer</option>
            </select>
             <label class="form-control-placeholder" for="designation">Select position are you applying for</label> 
             <p *ngIf="designation.touched && designation.invalid" class="small" style="color: red">Mandatory </p>
            </div>
        </div>
      <div class="row">
        <div class="form-group col-sm-12">
          <input  [ngClass]="technologiesKnown.touched && technologiesKnown.invalid? 'error':''"  class="form-control  form-input" type="text" id="technologiesknown" name="technologiesknown" [(ngModel)]="searchText" minlength="3"
            autocomplete="off" placeholder="" ngModel #technologiesKnown="ngModel">
          <label class="form-control-placeholder" for="technologiesknown">Technologies known</label>
          <p *ngIf="technologiesKnown.touched && technologiesKnown.invalid" class="small" style="color: red">Mandatory </p>
      
          <span *ngIf="!technologiesKnown.errors?.minlength && searchText">
            <div class="card" *ngFor="let tech of technologies | search:searchText" (click)="selectedTech(tech)">
              <span class="card-body"> {{tech}}</span>
            </div>
          </span>
        </div>      
      </div>

        <div class="row">
          <ul class="list-group" *ngFor="let s of selected">
            <li class="list-group-item ">{{s}}
              <span class="glyphicon glyphicon-remove"></span>
            </li>   
          </ul>
        </div>

        <span>Experiance </span>
        <div class="row">
            <div class="form-group col-sm-3">
              <input type="tel" id="expyear" class="form-control form-input " required placeholder="years">
              <!-- <label class="placeholder">Current Experinace</label> -->
            </div>
  
            <div class="form-group col-sm-3 mb-4">
              <input type="tel" id="expmonth" class="form-control form-input" required>
              <label class="form-control-placeholder" for="expmonth">months</label>
            </div>
          </div>

      </div>
      <button type="submit" class="btn btn-success">Take Test</button>
      </form>
    </div>

  </div>
</div>