.header {
	width: 100%;
	position: fixed;
	top: 0px;
	background-color: #fff;
	/* padding-top: 20px; */
	padding-bottom: 45px;
	position: relative;
	z-index: 99;
	-webkit-box-shadow: 0px 5px 9px 1px rgba(144, 161, 180, 0.2);
	box-shadow: 0px 5px 9px 1px rgba(144, 161, 180, 0.2);
	-moz-box-shadow: 0px 5px 9px 1px rgba(144, 161, 180, 0.2);
}

img {
	padding-left: 26px;
	padding-top: 5px;
	padding-bottom: 4px;
	width: 50%;
}


    
body {
  color: #6a6c6f;
  background-color: #f1f3f6;
  /* margin-top: 30px; */
 
}

/* .container {
  max-width: 960px;
} */

.panel-default>.panel-heading {
  color: #333;
  background-color: #dbf0f7;
  border-color: #e4e5e7;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 10px;
}

.panel-group .panel {
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 9px 1px rgba(144, 161, 180, 0.2);
}

.panel-default>.panel-heading a {
  display: block;
  padding: 15px 15px;
  color: #7a7b80;
  font-family: 'Courier New', Courier, monospace;
}



.panel-default>.panel-heading a:after {
  content: "";
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  transition: transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;
}

.panel-default>.panel-heading a[aria-expanded="true"] {
  background-color: #dbf0f7;
}

.panel-default>.panel-heading a[aria-expanded="true"]:after {
  content: "\2212";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.panel-default>.panel-heading a[aria-expanded="false"]:after {
  content: "\002b";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.accordion-option {
  width: 100%;
  float: left;
  clear: both;
  margin: 15px 0;
}

.accordion-option .title {
  font-size: 20px;
  font-weight: bold;
  float: left;
  padding: 0;
  margin: 0;
}

.accordion-option .toggle-accordion {
  float: right;
  font-size: 16px;
  color: #6a6c6f;
}

.accordion-option .toggle-accordion:before {
  content: "Expand All";
}

.accordion-option .toggle-accordion.active:before {
  content: "Collapse All";
}
  
a {
    color: #000106;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-size:small; */
    
}


#accordion :hover{
  text-decoration: none;
}

 .table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  font-size: 14px;
  min-width: 10px !important;
  line-height: 2.42857143;
  
} 

.table td{
  font-family:  'monospace';  
  font-size: medium; 
}


.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {

  line-height: 2.428571;

}
/* #location {
font-family: roboto;
} */

 tbody {
   color: black;
   /* font-family:  'monospace';    */
 }



 .glyphicon {
	position: relative;
	top: 7px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	font-size: medium;
	color: #;
	color: #ea6f27;
	-moz-osx-font-smoothing: grayscale;
}
.glyphicon:HOVER{
color: #716d6d;
}

.toolsub {
	font-size: 15px;
	font-family: calibiri;
	font-weight: normal;
	word-spacing: 2px;
}
::-webkit-scrollbar {
	display: none;
}