
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



  <!-- <div id="mySidenav" class="sidenav">
  <a href="#" id="about">About</a>
  <a href="#" id="blog">Blog</a>
  <a href="#" id="projects">Projects</a>
  <a href="#" id="contact">Contact</a>
</div>   -->

<div class="topnav">
  <a [routerLink]="['/login']">Logout <i class="fa fa-user"> </i></a>
  <label class="small float-right p-3" style="color: aliceblue;cursor: pointer;"> Welcome {{user.name}}</label>
</div>




<!-- <div class="sidebar">
  <a class="active" [routerLink]="['/home']">profiles<i class="fa fa-user float-right"></i></a>
</div> -->